<div class="container">
 <div class="col-lg-12 parent centered">
			
			
				<div class="col-lg-11 col-sm-offset-1 middle_body">
					<div class="table-responsive">
                <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            Sr.No.
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            time
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in event_details">
                        <td>
                            {{data.event_id}}
                        </td>
                        <td>
                            {{data.event_date}}
                        </td>
                        <td>
                            {{data.event_time}}
                        </td>
                        <td>
                            {{data.event_title}}
                        </td>
                        <td>
                            {{data.event_desc}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" ng-click="addImage(data)">
                                <span class="glyphicon glyphicon-plus"></span>Add
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
				</div>
			</div>
			</div>
			